@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300;400;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PT Root UI';
  src: url('/fonts/PT-Root-UI_Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Root UI';
  src: url('/fonts/PT-Root-UI_Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: 'PT Root UI', sans-serif;
  background-color: theme('colors.nouns.bg');
  color: theme('colors.nouns.text');
}

.nouns-border {
  @apply border-4 border-nouns-text;
}

.nouns-button {
  @apply bg-nouns-yellow text-nouns-text font-londrina font-bold py-2 px-4 rounded-lg nouns-border hover:bg-nouns-blue transition-colors duration-200;
}
